html {
    height: 100%;
}

/*背景設定*/
body {
    background-image: url(../images/Index.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
.BOX2 {
	position:absolute;
	left:50%;
	top:50%;
	margin-top:230px;
	margin-left:-105px;
}
.BOX3 {
	position:absolute;
	left:50%;
	top:50%;
	margin-top:165px;
	margin-left:-400px;
}

/*眼睛設定*/
#test {
    width: 350px;
	height: 350px;
	position:absolute;
	left:50%;
	top:50%;
	margin-top:-270px;
	margin-left:-140px;
}
#test h4{
	position:absolute;
	font-weight:normal;
	color:#ffffff;
	text-align: center;
	margin-top:43px;
	margin-left:-10px;
	font-family:Microsoft JhengHei;
}
#ball1 {
    position: absolute;
    top: 140px;
    left: 79px;
}
#ball2 {
    position: absolute;
    top: 140px;
    left: 147px;
}

