body {
  background-image: url(../images/Trivia_background.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

.introlink {
	width: 1000px;
	height: 320px;	
	position:absolute;
	left:50%;
	top:50%;	
  margin-top:-110px;
  margin-left:-500px;
}

#next{
  position: absolute; 
  margin-top:-250px;
  margin-left:700px;
}

#skip{
  margin-left: 870px;
  position: absolute; 
  margin-top:-400px;
}

#output-wrap{
  position: absolute; 
  margin-top:-320px;
  margin-left:50px;
  font-family:Microsoft JhengHei;
}

#source{
  text-indent:-9999px;
  overflow:hidden;
}

